// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	th{
		border-width:5px;
		padding:2px;
	}
	td{
		border-width:5px;
		padding:10px;
	}
	th {
		height:30px;
	}

